section#docs.container
    .page-stage.page-docs
        .page-stage__left
            h2 Документы
        .page-stage__right
            ul
                li
                    p 
                        img.active(src=require("/img/d-1.svg"))
                        img.default(src=require("/img/d-2.svg"))
                    p
                        | Форма договора пожертвования
                        span PDF - 967 КБ
                li
                    p 
                        img.active(src=require("/img/d-1.svg"))
                        img.default(src=require("/img/d-2.svg"))
                    p
                        | Инструкция по заполнению финансового отчета
                        span PDF - 967 КБ
                li
                    p 
                        img.active(src=require("/img/d-1.svg"))
                        img.default(src=require("/img/d-2.svg"))
                    p
                        | Инструкция по заполнению аналитического отчета
                        span PDF - 967 КБ
                li
                    p 
                        img.active(src=require("/img/d-1.svg"))
                        img.default(src=require("/img/d-2.svg"))
                    p
                        | Положение о порядке проведения экспертизы заявок
                        span PDF - 967 КБ
                li
                    p 
                        img.active(src=require("/img/d-1.svg"))
                        img.default(src=require("/img/d-2.svg"))
                    p
                        | Положение о конкурсе
                        span PDF - 967 КБ
                li
                    p 
                        img.active(src=require("/img/d-1.svg"))
                        img.default(src=require("/img/d-2.svg"))
                    p
                        | Инструкция по заполнению заявки
                        span PDF - 967 КБ
                li
                    p 
                        img.active(src=require("/img/d-1.svg"))
                        img.default(src=require("/img/d-2.svg"))
                    p
                        | Рекомендации по подготовке бюджета
                        span PDF - 967 КБ
