block footer
	footer.footer(data-scroll-section)
		.container
			.footer-logo
				picture
					source(media='(max-width: 1170px)' srcset=require('/img/logo-sm.svg'))
					img(src=require("/img/logo.svg"))
			.footer-bottom
				.footer-nav
					.footer-nav__left
						ul
							li.footer-nav__left-tel
								a(href="tel:+7 (495) 803-20-30") +7 (495) 803-20-30
							li.footer-nav__left-mail
								a(href="mailto:grant@absolute-help.ru") grant@absolute-help.ru
							li.footer-nav__left-adress
								p Московская обл., Одинцовский р-н, рабочий поселок Заречье д.8, 1 этаж, комн. 18
							li.footer-nav__left-link
								a(href="absolute-help.ru") absolute-help.ru
					.footer-nav__right
						.footer-nav__right-menu
							ul
								li
									a(href="") конкурс № 1
								li
									a(href="") конкурс № 2
								li
									a(href="") конкурс № 3
								li
									a(href="") новости
								li
									a(href="") документы
								li
									a(href="") частые вопросы
						.footer-nav__right-soc
							ul
								li
									a(href="")
										| facebook
										p
											svg(
											width="10",
											height="20",
											viewBox="0 0 10 20",
											fill="none",
											xmlns="http://www.w3.org/2000/svg"
											)
												path(
													fill-rule="evenodd",
													clip-rule="evenodd",
													d="M2.8152 20.0002V9.78959H0V6.58979H2.8152V4.23013C2.8152 1.49148 4.5189 0.000244141 7.00831 0.000244141C8.20081 0.000244141 9.22501 0.0877044 9.52381 0.126576V2.98891L7.79761 2.98979C6.44401 2.98979 6.18211 3.62145 6.18211 4.54729V6.59067H9.41041L8.99011 9.79048H6.18211V20.0002H2.8152Z",
													fill="#1D3E6F"
												)

								li
									a(href="")
										| вконтакте
										p
											svg(
											width="20",
											height="12",
											viewBox="0 0 20 12",
											fill="none",
											xmlns="http://www.w3.org/2000/svg"
											)
												path(
													fill-rule="evenodd",
													clip-rule="evenodd",
													d="M19.5411 0.784261C19.6801 0.332377 19.5411 0.000244141 18.8794 0.000244141H16.6914C16.135 0.000244141 15.8785 0.287127 15.7395 0.603416C15.7395 0.603416 14.6269 3.24738 13.0505 4.96472C12.5406 5.46185 12.3088 5.62 12.0306 5.62C11.8915 5.62 11.6902 5.46185 11.6902 5.00997V0.784261C11.6902 0.241879 11.5288 0.000244141 11.0651 0.000244141H7.62678C7.27904 0.000244141 7.06993 0.251934 7.06993 0.490521C7.06993 1.00457 7.85808 1.12325 7.93935 2.5694V5.71049C7.93935 6.39914 7.81182 6.52407 7.53363 6.52407C6.7919 6.52407 4.98757 3.86822 3.91748 0.82951C3.70774 0.238831 3.49738 0.000244141 2.93819 0.000244141H0.750175C0.125029 0.000244141 0 0.287127 0 0.603416C0 1.16835 0.741735 3.97045 3.45377 7.67648C5.26185 10.2072 7.80932 11.5792 10.1274 11.5792C11.5182 11.5792 11.6902 11.2745 11.6902 10.7496V8.83681C11.6902 8.22739 11.822 8.10581 12.2624 8.10581C12.5868 8.10581 13.1432 8.26396 14.4413 9.48416C15.925 10.9305 16.1696 11.5792 17.004 11.5792H19.192C19.8171 11.5792 20.1297 11.2745 19.9493 10.6731C19.7521 10.0738 19.0437 9.20429 18.1039 8.17361C17.594 7.58598 16.8289 6.9534 16.5972 6.63696C16.2725 6.23018 16.3654 6.04933 16.5972 5.68779C16.5972 5.68779 19.2629 2.02717 19.5411 0.784261Z",
													fill="#1D3E6F"
												)

								li
									a(href="")
										| instagram
										p
											svg(
											width="16",
											height="16",
											viewBox="0 0 16 16",
											fill="none",
											xmlns="http://www.w3.org/2000/svg"
											)
												path(
													d="M8 0.000244141C10.1727 0.000244141 10.4453 0.00957748 11.2993 0.0489108C14.2073 0.182244 15.8213 1.79958 15.952 4.70224C15.9907 5.55558 16 5.82758 16 8.00024C16 10.1729 15.9907 10.4456 15.9513 11.2989C15.82 14.2069 14.2013 15.8189 11.2987 15.9522C10.4453 15.9909 10.1727 16.0002 8 16.0002C5.82733 16.0002 5.55533 15.9909 4.70133 15.9522C1.79333 15.8189 0.181333 14.2042 0.048 11.2989C0.00933333 10.4456 0 10.1729 0 8.00024C0 5.82758 0.00933331 5.55558 0.0486666 4.70158C0.182 1.79358 1.79667 0.181577 4.702 0.0482441C5.55533 0.00957748 5.82733 0.000244141 8 0.000244141ZM8 3.19557C5.34659 3.19557 3.19532 5.34683 3.19532 8.00024C3.19532 10.6537 5.34659 12.8057 8 12.8057C10.6534 12.8057 12.8047 10.6544 12.8047 8.00024C12.8047 5.34683 10.6534 3.19557 8 3.19557ZM12.9949 1.88329C12.3743 1.88329 11.8713 2.38621 11.8713 3.00609C11.8713 3.62597 12.3743 4.1289 12.9949 4.1289C13.6148 4.1289 14.117 3.62597 14.117 3.00609C14.117 2.38621 13.6148 1.88329 12.9949 1.88329ZM8 11.1192C6.27758 11.1192 4.88109 9.72344 4.88109 8.00024C4.88109 6.27783 6.27758 4.88134 8 4.88134C9.72242 4.88134 11.1189 6.27783 11.1189 8.00024C11.1189 9.72344 9.72242 11.1192 8 11.1192Z",
													fill="#1D3E6F"
												)

								li
									a(href="")
										| youtube
										p
											svg(
											width="18",
											height="12",
											viewBox="0 0 18 12",
											fill="none",
											xmlns="http://www.w3.org/2000/svg"
											)
												path(
													d="M14.7113 0.122993C12.0083 -0.0410052 5.988 -0.0403385 3.28875 0.122993C0.366 0.300323 0.02175 1.86964 0 6.00024C0.02175 10.1235 0.363 11.6995 3.28875 11.8775C5.98875 12.0408 12.0083 12.0415 14.7113 11.8775C17.634 11.7002 17.9783 10.1309 18 6.00024C17.9783 1.87697 17.637 0.30099 14.7113 0.122993ZM6.75 8.72752V3.27297L12.375 5.99547L6.75 8.72752Z",
													fill="#1D3E6F"
												)
				.footer-info
					.footer-info__left
						span © 2021 Благотворительный фонд «Абсолют-Помощь»
					.footer-info__right
						a(href="") Политика конфиденциальности и файлы cookie
						a(href="") Made by ONY
