section#direction
    .container
        .page-direction
            h2 Направления поддержки
            .no-padding-1100.padding-xs
                .page-direction__items
                    .page-direction__item
                        .page-direction__item-img
                            img(src=require("/img/d1.png"))
                        .page-direction__item-title
                            p Повышение качества жизни и вовлеченности
                        .page-direction__item-inner
                            p Каждому человеку важно стремиться к самостоятельности. Трудные обстоятельства и ограниченные возможности не должны препятствовать получению жизненных навыков, адаптации, получению психологической, социальной и медицинской поддержки. Уязвимым группам населения необходима помощь в улучшении качества жизни, расширении возможностей, социализации и трудоустройстве.
                            img(src=require("/img/d1.png"))
                        .page-direction__item-btn(@click="expandItem(0)")
                            span
                                .default больше
                                .active меньше
                                .img
                                    svg(width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        rect(x='25' y='11.4583' width='2.08333' height='25' transform='rotate(90 25 11.4583)' fill='#1D3E6F')
                                        rect.vert(x='13.5417' y='25' width='2.08334' height='25' transform='rotate(-180 13.5417 25)' fill='#1D3E6F')
                    .page-direction__item
                        .page-direction__item-img
                            img(src=require("/img/d2.jpg"))
                        .page-direction__item-title
                            p Социальная поддержка и сопровождение
                        .page-direction__item-inner
                            p Каждому человеку важно стремиться к самостоятельности. Трудные обстоятельства и ограниченные возможности не должны препятствовать получению жизненных навыков, адаптации, получению психологической, социальной и медицинской поддержки. Уязвимым группам населения необходима помощь в улучшении качества жизни, расширении возможностей, социализации и трудоустройстве.
                            img(src=require("/img/d2.jpg"))
                        .page-direction__item-btn(@click="expandItem(1)")
                            span
                                .default больше
                                .active меньше
                                .img
                                    svg(width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        rect(x='25' y='11.4583' width='2.08333' height='25' transform='rotate(90 25 11.4583)' fill='#1D3E6F')
                                        rect.vert(x='13.5417' y='25' width='2.08334' height='25' transform='rotate(-180 13.5417 25)' fill='#1D3E6F')
                    .page-direction__item
                        .page-direction__item-img
                            img(src=require("/img/d3.png"))
                        .page-direction__item-title
                            p Просвещение и информирование
                        .page-direction__item-inner
                            p Каждому человеку важно стремиться к самостоятельности. Трудные обстоятельства и ограниченные возможности не должны препятствовать получению жизненных навыков, адаптации, получению психологической, социальной и медицинской поддержки. Уязвимым группам населения необходима помощь в улучшении качества жизни, расширении возможностей, социализации и трудоустройстве.
                            img(src=require("/img/d3.png"))
                        .page-direction__item-btn(@click="expandItem(2)")
                            span
                                .default больше
                                .active меньше
                                .img
                                    svg(width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        rect(x='25' y='11.4583' width='2.08333' height='25' transform='rotate(90 25 11.4583)' fill='#1D3E6F')
                                        rect.vert(x='13.5417' y='25' width='2.08334' height='25' transform='rotate(-180 13.5417 25)' fill='#1D3E6F')
                    .page-direction__item
                        .page-direction__item-img
                            img(src=require("/img/d5.png"))
                        .page-direction__item-title
                            p Поддержка семьи и профилактика сиротства
                        .page-direction__item-inner
                            p Каждому человеку важно стремиться к самостоятельности. Трудные обстоятельства и ограниченные возможности не должны препятствовать получению жизненных навыков, адаптации, получению психологической, социальной и медицинской поддержки. Уязвимым группам населения необходима помощь в улучшении качества жизни, расширении возможностей, социализации и трудоустройстве.
                            img(src=require("/img/d5.png"))
                        .page-direction__item-btn(@click="expandItem(3)")
                            span
                                .default больше
                                .active меньше
                                .img
                                    svg(width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        rect(x='25' y='11.4583' width='2.08333' height='25' transform='rotate(90 25 11.4583)' fill='#1D3E6F')
                                        rect.vert(x='13.5417' y='25' width='2.08334' height='25' transform='rotate(-180 13.5417 25)' fill='#1D3E6F')
                    .page-direction__item
                        .page-direction__item-img
                            img(src=require("/img/d6.png"))
                        .page-direction__item-title
                            p Поддержка доступного образования
                        .page-direction__item-inner
                            p Каждому человеку важно стремиться к самостоятельности. Трудные обстоятельства и ограниченные возможности не должны препятствовать получению жизненных навыков, адаптации, получению психологической, социальной и медицинской поддержки. Уязвимым группам населения необходима помощь в улучшении качества жизни, расширении возможностей, социализации и трудоустройстве.
                            img(src=require("/img/d6.png"))
                        .page-direction__item-btn(@click="expandItem(4)")
                            span
                                .default больше
                                .active меньше
                                .img
                                    svg(width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        rect(x='25' y='11.4583' width='2.08333' height='25' transform='rotate(90 25 11.4583)' fill='#1D3E6F')
                                        rect.vert(x='13.5417' y='25' width='2.08334' height='25' transform='rotate(-180 13.5417 25)' fill='#1D3E6F')
                    .page-direction__item
                        
            